clusterName: hmsys.de
talosVersion: v1.11.2
kubernetesVersion: v1.34.2
endpoint: https://49.13.88.50:6443
allowSchedulingOnControlPlanes: true
nodes:
  - hostname: hetzner-hmsys-fsn1-1
    ipAddress: 49.13.88.50
    installDisk: /dev/sda
    controlPlane: true
    machineSpec:
      mode: hcloud
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/qemu-guest-agent
    nodeLabels:
      topology.kubernetes.io/region: europe-west
      topology.kubernetes.io/zone: ad-3

patches:
  - |
    cluster:
      externalCloudProvider:
        enabled: true
  - |
    machine:
      kubelet:
        extraConfig:
          memorySwap:
            swapBehavior: LimitedSwap
  - |
    apiVersion: v1alpha1
    kind: ZswapConfig
    maxPoolPercent: 40
